@import "tailwindcss";

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: white; /* light violet background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(143, 34, 34)
; /* violet */
  border-radius: 10px;
  border: 2px solid #f4e8ff; /* creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(131, 43, 43)
; /* darker violet on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(214, 85, 85)
    rgb(246, 213, 213); /* thumb and track color */
}