@import "tailwindcss";

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: white; /* light violet background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 29, 29, 1)
; /* violet */
  border-radius: 10px;
  border: 2px solid #f4e8ff; /* creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(127, 29, 29, 1)
; /* darker violet on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(127, 29, 29, 1)
 black;
}